<div class="p-3 bg-[#FAFAFA] rounded-xl cursor-grab flex flex-col gap-3">
    <div class="flex gap-1">
        <p class="font-bold">nova tarefa</p>
        <img class="self-start cursor-pointer ml-auto" src="images/icon-delete.svg" alt="">
    </div>
    <p class="font-light text-sm text-[#374151]"> minha tarefa para criar aplicação angular</p>
    <div class="flex items-center gap-1">
        <img src="images/icon-comments.svg" alt="">
        <p class="font-semibold text-xs text-[#7D72F8] cursor-pointer">2 Comentarios</p>
        <p class="font-semibold text-xs text-[#7D72F8] cursor-pointer ml-auto">Editar</p>
    </div>
</div>